body {
  background: black;
  align-items: center;
  font-family: avenir;
}

#menu {
  opacity: .25;
  position: absolute;
  font-family: avenir;
  top: 10px;
  left: -5px;
}


ul {
  list-style-type: none;
  text-decoration: none;
  color: black;
}


/*bathroom*/

#background img {
  width: 1200px;
  height: 800px;
}

#shower {
  position: absolute;
  left: 375px;
  bottom: 690px;
  opacity: .5;
}

#showerInfo {
  opacity: 0;
  position: absolute;
  left: 520px;
  bottom: 630px;
  width: 600px;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

#wash {
  position: absolute;
  left: 470px;
  bottom: 440px;
  opacity: .5;
}

#washInfo {
  opacity: 0;
  position: absolute;
  left: 160px;
  bottom: 440px;
  width: 300px;
  font-family: avenir;
  font-weight: lighter;
  padding-left: 10px;
  background-color: white;
  font-size: 100%;
}

#toilet {
  position: absolute;
  left: 890px;
  bottom: 150px;
  opacity: .5;
}

#toiletInfo {
  position: absolute;
  left: 400px;
  bottom: 200px;
  width: 500px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

a:link {
  font-family: avenir;
  font-weight: lighter;
  color: #999999;
  text-decoration: none;
}

a:visited {
  font-family: avenir;
  font-weight: lighter;
  color: #999999;
}

a:hover {
  font-family: avenir;
  font-weight: lighter;
  color: #66FFFF;
}

footer {
  position: relative;
  bottom: 36px;
  left: 870px;
}
