body {
  background: black;
  align-items: center;
  font-family: avenir;
}

/*index buttons*/

#kitchenButton {
  position: absolute;
  left: 60px;
  bottom: 475px;
  opacity: 0.5;
}

#bathButton {
  position: absolute;
  right: 110px;
  bottom: 476px;
  opacity: 0.5;
}

#livingButton {
  position: absolute;
  left: 50px;
  bottom: 90px;
  opacity: 0.5;
}

#diningButton {
  position: absolute;
  left: 480px;
  bottom: 100px;
  opacity: 0.5;
}

#bedButton {
  position: absolute;
  right: 100px;
  bottom: 100px;
  opacity: 0.5;
}

#menu {
  opacity: .25;
  position: absolute;
  font-family: avenir;
  top: 10px;
  left: -5px;
}

/*bathroom*/

#background img {
  width: 1200px;
  height: 800px;
}

#shower {
  position: absolute;
  left: 375px;
  bottom: 690px;
  opacity: .5;
}

#showerInfo {
  opacity: 0;
  position: absolute;
  left: 520px;
  bottom: 630px;
  width: 600px;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

#wash {
  position: absolute;
  left: 470px;
  bottom: 440px;
  opacity: .5;
}

#washInfo {
  opacity: 0;
  position: absolute;
  left: 160px;
  bottom: 440px;
  width: 300px;
  font-family: avenir;
  font-weight: lighter;
  padding-left: 10px;
  background-color: white;
  font-size: 100%;
}

#toilet {
  position: absolute;
  left: 890px;
  bottom: 150px;
  opacity: .5;
}

#toiletInfo {
  position: absolute;
  left: 400px;
  bottom: 200px;
  width: 500px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  color: black;
}


footer {
  position: relative;
  margin: auto;
  top: 700px;
  left: 200px;
}
