body {
  background: black;
  align-items: center;
  font-family: avenir;
  position: absolute;
}

/*index buttons*/

#kitchenButton {
  position: absolute;
  left: 60px;
  bottom: 475px;
  opacity: 0.5;
}

#bathButton {
  position: absolute;
  left: 817px;
  bottom: 480px;
  opacity: 0.5;
}

#livingButton {
  position: absolute;
  left: 50px;
  bottom: 93px;
  opacity: 0.5;
}

#diningButton {
  position: absolute;
  left: 480px;
  bottom: 95px;
  opacity: 0.5;
}

#bedButton {
  position: absolute;
  left: 828px;
  bottom: 102px;
  opacity: 0.5;
}

a:link {
  font-family: avenir;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

a:visited {
  font-family: avenir;
  font-weight: lighter;
  color: white;
}

a:hover {
  font-family: avenir;
  font-weight: lighter;
  color: #66FFFF;
}

footer {
  position: relative;
  bottom: 40px;
  left: 860px;
}
