body {
  background: black;
}

header {
  left: 250px;
  font-family: avenir;
  font-weight: lighter;
  color: white;
  margin-left:200px;
}

p {
  left: 250px;
  font-family: avenir;
  font-weight: lighter;
  color: white;
  width: 700px;
  margin-left:220px;
}

nav {
  left: 250px;
  font-family: avenir;
  font-weight: lighter;
  color: white;
  width: 700px;
  margin-left:220px;
}

li {
  list-style-type: none;
}

#observe img {
  left: 250px;
}

#storyboard1 img {
  left: 250px;
}

#storyboard2 img {
  left: 250px;
}

a:link {
	font-family: avenir;
	font-weight: lighter;
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	font-family: avenir;
	font-weight: lighter;
	color: #FFFF00;
}

a:hover {
	font-family: avenir;
	font-weight: lighter;
	color: #66FFFF;
}

footer {
	padding-top: 21%;
  text-align: center;
}
