body {
  background: #000000;
}

h1 {
  font-family: avenir;
  font-weight: lighter;
  color: #66FFFF;
}

h2 {
  font-family: avenir;
  font-weight: lighter;
  color: #66FFFF;
}

section {
  width: 700px;
  font-family: avenir;
  font-weight: lighter;
  color: #FFFFFF;
  margin-left: 15%;
}

section img {
  padding-top: 10px;
}

footer {
  margin-left: 15%;
  margin-top: 2%;
}

a:link {
  font-family: avenir;
  font-weight: lighter;
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  font-family: avenir;
  font-weight: lighter;
  color: #66FFFF;
}

a:visited {
  font-family: avenir;
  font-weight: lighter;
  color: #FFFF00;
}
