body {
  width: 100%;
}

#room {
  position: relative;
  margin: auto;
}

#room img {
  position: absolute;
}

#bath {
  margin: auto;
}

#menu {
  opacity: .25;
  font-family: avenir;
  color: black;
  position: absolute;
  top: 10px;
}

#bath {
  width: 100%;
  position: absolute;
}

#shower {
  left: 405px;
  top: 75px;
  opacity: .5;
}

#showerInfo {
  opacity: 0;
  position: absolute;
  left: 550px;
  top: 110px;
  width: 600px;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

#wash {
  left: 510px;
  top: 335px;
  opacity: .25;
}

#washInfo {
  opacity: 0;
  position: absolute;
  left: 220px;
  top: 270px;
  width: 300px;
  font-family: avenir;
  font-weight: lighter;
  padding-left: 10px;
  background-color: white;
  font-size: 100%;
}

#toilet {
  left: 960px;
  top: 435px;
  opacity: .5;
}

#toiletInfo {
  position: absolute;
  left: 450px;
  top: 500px;
  width: 500px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  background-color: white;
  padding-left: 10px;
  font-size: 100%;
}

ul {
  list-style-type: none;
}
