/* add reset */

body {
  width: 100%;
}

header {
  position: absolute;
  font-family: avenir;
  font-weight: lighter;
  top: 10px;
  left: 200px;
}

#person {
  position: relative;
  width: 500px;
  margin: auto;
}

#person img {
  position: absolute;
}

#character {
  margin: auto;
}

#hat {
  width: 118px;
  left: 198px;
  display: block;
  opacity: 0;
}

#hatInfo {
  position: absolute;
  width: 250px;
  top: 25px;
  left: -60px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  font-size: 70%;
}

#glasses {
  width: 100px;
  top: 64px;
  left: 207px;
  display: block;
  opacity: 0;
}

#glassesInfo {
  position: absolute;
  width: 250px;
  top: 100px;
  left: 400px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  font-size: 70%;
}

#saber {
  width: 120px;
  top: 256px;
  left: -10px;
  display: block;
  opacity: 0;
}

#saberInfo {
  position: absolute;
  width: 250px;
  top: 205px;
  right: 480px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  font-size: 70%;
}

#watch {
  width: 50px;
  top: 272px;
  right: 360px;
  display: block;
  opacity: 0;
}

#watchInfo {
  position: absolute;
  width: 250px;
  top: 345px;
  right: 300px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  font-size: 70%;
}

#book {
  top: 230px;
  left: 118px;
  display: block;
  opacity: 0;
}

#bookInfo {
  position: absolute;
  width: 250px;
  top: 280px;
  right: -120px;
  opacity: 0;
  font-family: avenir;
  font-weight: lighter;
  font-size: 70%;
}

#footer {
  padding-top: 800px;
  font-family: avenir;
}
