/* add reset */

body {
  width: 100%;
}

#person {
  position: relative;
  background-color: red;
  width: 500px;
  margin: auto;
}

#person img {
  position: absolute;
}

#character {
  margin: auto;
}

#hat {
  width: 120px;
  left: 198px;
  display: block;
  opacity: 0.5;
}

#glasses {
  top: 58px;
  left: 300px;
  display: block;
  opacity: 0;
}

#book {
  top: 212px;
  left: 118px;
  display: block;
  opacity: 0;
}

footer {
  position: relative;
  margin: auto;
  color: #747D8E;
  font-family: avenir;
}
