body {
	background: #000000;
}

h1 {
	margin-left:25%;
	font-family: avenir;
	font-weight: lighter;
	color: #66FFFF;
}

p {
	width: 500px;
	font-family: avenir;
	font-weight: lighter;
	color: #FFFFFF;
	margin-left: 25%;
}

#blog5 img{
	margin-left: 25%;
	margin-top: 1%;
	width:40%;
	height:40%;
}

#blog4 img{
	margin-left: 25%;
	margin-top: 1%;
	width:40%;
	height:40%;
}

#blog3 img{
	margin-left: 25%;
	margin-top: 1%;
	width:40%;
	height:40%;
}

#blog2 img{
	margin-left: 25%;
	margin-top: 1%;
	width:40%;
	height:40%;
}

#blog1 img{
	margin-left: 25%;
	margin-top: 1%;
	width:40%;
	height:40%;
}

footer {
	margin-left: 25%;
	margin-top: 2%;
}

a:link {
	font-family: avenir;
	font-weight: lighter;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	font-family: avenir;
	font-weight: lighter;
	color: #66FFFF;
}

a:visited {
	font-family: avenir;
	font-weight: lighter;
	color: #FFFF00;
}
