body {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: avenir;
  font-weight: lighter;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  width: 100%;
  position: relative;
  margin: auto;
}

#elementary {
  top: 25px;
  width: 100%;
  position: relative;
  margin: auto;
}

#middle {
  top: 300px;
  width: 100%;
  position: relative;
  margin: auto;
}

#high {
  top: 575px;
  width: 100%;
  position: relative;
  margin: auto;
}

#college {
  top: 850px;
  width: 100%;
  position: relative;
  margin: auto;
}

img {
  position: relative;
  margin: auto;
}

#elementarySelect {
  opacity: 0;
  width: 500px;
  height: 200px;
  position: relative;
  margin: auto;
}

#middleSelect {
  opacity: 0;
  width: 500px;
  height: 200px;
  position: relative;
  margin: auto;
}

#highSelect {
  opacity: 0;
  width: 500px;
  height: 200px;
  position: relative;
  margin: auto;
}

#collegeSelect {
  opacity: 0;
  width: 500px;
  height: 200px;
  position: relative;
  margin: auto;
}

button {
  width: 50px;
  height: 50px;
  top: 1125px;
  position: relative;
  margin: auto;
}

#start {
    background-color: #96C8A2;
}
#stop {
    background-color: #722F37;
}

div {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: white;
  top: 1250px;
}

footer {
  position: relative;
  top: 1200px;
  padding-bottom: 20px;
  text-align: center;
}
