body {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: avenir;
  font-weight: lighter;
}

h1 {
  font-weight: lighter;
}

li {
  list-style-type: none;
}

#elementary {
padding-top: 10px;
}

#middle {
  padding-top: 225px;
}

#high {
  padding-top: 225px;
}

#college {
  padding: 225px;
}

img {
  position: relative;
  margin: auto;
}

.select1 {
  opacity: 0;
  width: 100%;
  position: relative;
  margin: auto;
}

.select2 {
  opacity: 0;
  width: 100%;
  position: relative;
  margin: auto;
}

.select3 {
  opacity: 0;
  width: 100%;
  position: relative;
  margin: auto;
}

.select4 {
  opacity: 0;
  width: 100%;
  position: relative;
  margin: auto;
}

button {
  width: 50px;
  height: 50px;
}

#start {
    background-color: green;
}
#stop {
    background-color: red;
}

div {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: white;
}

footer {
  text-align: center;
  padding: 50px;
}
